doctype html
head
  meta(charset='UTF-8')
  meta(name='author' content='VIJAY THAPA')
  meta(name='description' content='HOUSE RENTAL SYSTEM')
  meta(name='keywords' content='Give Your Keywords for SEO')
  title HOUSE RENTAL SYSTEM
  // ADING CSS HERE
  link(rel='stylesheet' type='text/css' href='assets/css/style.css')
// Header Starts HERE
header.header
  .wrapper
    h1 HOUSE RENTAL SYSTEM
// Header Ends HERE
// Menu Starts HERE
nav.menu
  .wrapper
    ul
      a(href='index.html')
        li Home
      a(href='about.html')
        li About Us
      a(href='#')
        li Houses
      a(href='contact.html')
        li Contact Us
      a(href='login.html')
        li Log In
// Menu Ends HERE
// Main Body Starts HERE
.main
  .wrapper
    .book-house
      h3 About Us
      // About Us Here
      img(src='images/house.jpg')
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at porttitor urna. Class aptent taciti sociosqu
        | ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae libero nec felis rhoncus sollicitudin
        | at non felis. Praesent posuere arcu sit amet augue viverra, feugiat tempus metus placerat. Aliquam iaculis mi
        | at diam gravida venenatis. Suspendisse pretium ultricies libero, id congue nibh pretium ut. Sed condimentum nec
        | diam eget elementum. Donec sed purus congue, varius massa a, tristique ipsum. Maecenas ac nunc ipsum. Sed in
        | molestie nulla. Duis nisi nibh, pellentesque ac ultricies eget, lacinia vitae elit. Cras laoreet purus
        | tellus. Vestibulum a condimentum felis, id euismod ligula.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at porttitor urna. Class aptent taciti sociosqu
        | ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae libero nec felis rhoncus sollicitudin
        | at non felis. Praesent posuere arcu sit amet augue viverra, feugiat tempus metus placerat. Aliquam iaculis mi
        | at diam gravida venenatis. Suspendisse pretium ultricies libero, id congue nibh pretium ut. Sed condimentum nec
        | diam eget elementum. Donec sed purus congue, varius massa a, tristique ipsum. Maecenas ac nunc ipsum. Sed in
        | molestie nulla. Duis nisi nibh, pellentesque ac ultricies eget, lacinia vitae elit. Cras laoreet purus
        | tellus. Vestibulum a condimentum felis, id euismod ligula.
// Main Body Ends HERE
// Footer Starts HERE
footer.footer
  .wrapper
    p
      | &copy; 
      a(href='#') House Rental System
      | . All rights reserved 2017.
// Footer Ends HERE
