doctype html
head
  meta(charset='UTF-8')
  meta(name='author' content='VIJAY THAPA')
  meta(name='description' content='HOUSE RENTAL SYSTEM')
  meta(name='keywords' content='Give Your Keywords for SEO')
  title HOUSE RENTAL SYSTEM
  // ADING CSS HERE
  link(rel='stylesheet' type='text/css' href='css/style.css')
// Header Starts HERE
header.header
  .wrapper
    h1 HOUSE RENTAL SYSTEM
// Header Ends HERE
// Main Body Starts HERE
.main
  .wrapper
    // Contact Detail Entry
    .booking-details
      h3 Log In
      form
        span.name Username
        input(type='text' name='username' placeholder='Username Please' required='true')
        br
        span.name Password
        input(type='password' name='password' placeholder='Password Please' required='true')
        br
        input(type='submit' name='submit' placeholder='LOG IN')
        input(type='reset' name='reset' placeholder='RESET')
        br
        a(href='index.html') Go Home
// Main Body Ends HERE
// Footer Starts HERE
footer.footer
  .wrapper
    p
      | &copy; 
      a(href='#') House Rental System
      | . All rights reserved 2017.
// Footer Ends HERE
